
@font-face {
    font-family:"Utah Condensed";
    src:url("../assets/fonts/UtahCondensed.woff") format("woff"),url("../assets/fonts/UtahCondensed.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
