
@font-face {
    font-family:"Utah Bold";
    src:url("../assets/fonts/UtahBold.woff2") format("woff2"),url("../assets/fonts/UtahBold.woff") format("woff"),url("../assets/fonts/UtahBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
