
@font-face {
    font-family:"Utah Oblique";
    src:url("../assets/fonts/UtahOblique.woff") format("woff"),url("../assets/fonts/UtahOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
