
@font-face {
    font-family:"Utah Condensed Oblique";
    src:url("../assets/fonts/UtahCondensedOblique.woff2") format("woff2"),url("../assets/fonts/UtahCondensedOblique.woff") format("woff"),url("../assets/fonts/UtahCondensedOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
