
@font-face {
    font-family:"Utah Condensed BoldOblique";
    src:url("../assets/fonts/UtahCondensedBoldOblique.woff2") format("woff2"),url("../assets/fonts/UtahCondensedBoldOblique.woff") format("woff"),url("../assets/fonts/UtahCondensedBoldOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
