<ul class="menu-list">
	<li class=""><a href="{% url 'index'  %}">Home</a></li>
	<li><a>Browse</a></li>
	  <ul >
			<li>
				<a href="{% url 'names_list'  %}" class="is-active">Names</a>
			</li>
			<li>
				<a href="{% url 'subject_list'  %}" class="">Subjects</a>
			</li>
	  </ul>
	<li>
		<a href="{% url 'page_detail' 'request'  %}">Request</a>
	</li>
	<li>
		<a href="{% url 'index'  %}">About</a>
	</li>
	<li><a href="{% url 'page_detail' 'terms'  %}">Terms</a></li>
	<li><a href="{% url 'page_detail' 'ethics-board'  %}">Ethics Board</a></li>
</ul>


