{% extends '../base.html' %}

{% block 'title' %}{{ subject.name }}{% endblock %}
{% block 'page_title' %}{{ subject.name }}{% endblock %}

{% block 'back_link' %}
	<a class="back-arrow" href="{% url 'subject_list'  %}">&larr; Back to all subjects</a>
{% endblock %}

{% block 'middle_content' %}
	<section class="subject-detail__names-list list-page__list"> 
		{% for name in names %} 
			<a class="subject-detail__name list__link" href="{% url 'name_detail' name.slug %}">
				<h2 class="list__link-title">{{ name.name }}</h2> 
			</a> 
		{% endfor %}
	</section>
{% endblock %}


{% block 'right_column' %}
	<div class="subject-detail">
	</div>
{% endblock %}
