{% extends '../base.html' %}

{% block 'title' %}Names -{% endblock %}

{% block 'middle_content' %}
	<section class=""> 
		<div class="logo aohg_logo">Autonomous Oral History Group</div>
		<h1 class="title is-1">{{ subject.name }}</h1>

		<div class="subject-detail__names">
			{% for name in names %} 
			<a href="{% url 'name_detail' name.slug %}">
				<h2 class="subtitle is-4">{{ name.name }}</h2> 
			</a> 
			{% endfor %}
		</div>
{% endblock %}


{% block 'right_column' %}
	<div class="subject-detail">
	</div>
{% endblock %}
