{% extends '../base.html' %}

{% block 'title' %}Names -{% endblock %}

{% block 'middle_content' %}
	<section class=""> 
		<div class="logo aohg_logo">Autonomous Oral History Group</div>
		<h1 class="title is-1">Subjects</h1>

		{% for subject in subjects %}
			<a href="{% url 'subject_detail' subject.slug %}">
				<h2 class="subtitle is-4">{{ subject.name }}</h2> 
			</a>
		{% endfor %} 
	</section> 
{% endblock %}

{% block 'right_column' %}
	{{ sidebar.content | safe }}
{% endblock 'right_column' %}
