.names-list{
	margin-top: $page_top_margin;
}
.names-list__name{
}


.browse__name{

}



.name-detail{
	
	h1, h2, h3, h4, h5, h6{
		font-size: $small_font_size;
	}

	p{
		font-size: $small_font_size;
	}
}


.name-detail__field{
	margin-top: 1.5em; 

	&:first{
		margin-top: 0; 
	}
}


.name-detail__title{
	text-transform: uppercase; 
}

.name-detail__field-body{
}

.name-detail__subject{
	display: block;

}


.name-detail__location-call{ 
}


.name-detail__subhead{ 
	
}
