.names-list__name{
	font-size: 2rem;
	line-height: 1.3em;
	margin-top: .5rem;
}


.browse__name{

}


.name-detail__field{
	margin-top: 1.5em; 

	&:first{
		margin-top: 0; 
	}
}

.name-detail__title{
	text-transform: uppercase; 
}

.name-detail__field-body{
}

.name-detail__subject{
	display: block;

}


.name-detail__location-call{ 
}

.name-detail p{
	font-size: 1.05rem;
}

.name-detail__subhead{ 
	
}
