

.navigation { 
	ul.menu-list {
		//margin-left: 2.8em;
		border-left: none;
		line-height: .15rem;

		ul{
			border-left: none; 
			margin-left: 2em;
		}
	}	

	ul.menu-list li{
		font-size: 2.5rem; 
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.2em;


		a{
			padding: 0.2em 0em;
			color: $black;

			&.is-active{
				background-color: transparent;
				color: $black;
				@include underline()
			}

			&:hover{
				background-color: transparent;
				@include underline() 
			} 
			&:active{
				text-decoration: none;
			
			}
		}
	}
}



