.navigation { 
	ul.menu-list {
		//margin-left: 2.8em;
		border-left: none;
		line-height: .15rem;
	}	

	li{
		font-size: 2.5rem; 
		margin-top: .2em;
		margin-bottom: .2rem;

		ul{
			border-left: none; 
		}

		a{
			padding: .7em .2em;

			&.is-active{
				background-color: $white;
				color: $black;
			}

			&:hover{
				background-color: $black;
				color: $white;
			
			} 
		}
	}
}



