.logo{
	position: relative;
	top: 0px;
	font-size: $base_font_size;
	line-height: 1.2em;

	&:hover{
		color: $color_secondary;

	}
}


.menu-list {
	//margin-left: 2.8em;
	border-left: none;
	line-height: .15rem;
}	

/* have to wrap like this for bulma specificity overrides*/
.menu-list li ul.level-two{
	border-left: none; 
	padding-left: 0;
	margin: 0 .6em;
}

.level-two{
	//margin-left: 2em;
}


/* have to wrap like this for bulma specificity overrides*/
.navigation {
	.menu-list li{
		font-size: $large_font_size; 
		margin-top: 0;
		margin-bottom: -0.1em;
		line-height: 1.1em;


		a{
			color: $color_primary;

			&.is-active{
				background-color: transparent;
				color: $color_primary;
				@include underline()
			}

			&:hover{
				color: $color_primary;
				background-color: transparent;
				@include underline() 
			} 
			&:active{
				text-decoration: none;
			
			}
		}
	}

}

/* ----------------------------
	 MOBILE
---------------------------*/
@media only screen and (max-width : $tablet){

	/*
	--------------------
	Logo 
	---------------------
	*/
	.logo{
		font-size: $small_font_size;
		background-color: $white;
		width: 100%;
		padding: $mobile_logo_margin $menu_button_width $mobile_logo_margin $mobile_page_margin;
		position: fixed;
	}

	/*
	--------------------
	Menu Button
	Checkbox CSS heavily inspired by https://codepen.io/erikterwan/pen/EVzeRP 
	---------------------
	*/

	.menu_button{ 
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: 900;

		rect{
			opacity: 1;
			transition: opacity .1s ease-out, transform .3s ease-out, fill .3s ease-out;
		}
	}

	/* invisible input item that is over the hamburger menu */
	.menu__check{
		/*removing [type="checkbox"] to remove any specificity preventing overrides*/
		opacity: 0; /* hide the navigation checkbox */
		z-index: 1000; /* and place it over the hamburger */
		position: fixed;
		top: 0;
		right: 0px;
		display: block;
		width: $menu_button_click_width;
		height: 70px;
		cursor: pointer;
		-webkit-touch-callout: none;

	  	/* If the menu button input element is checked */
		&:checked {
			// Menu burger itself, not just the invisible checkbox
			~ .menu {
				position: fixed;
				top: 60px;
				left: 0;
				display: block;
				height: 100%;
				width: 100%;
				opacity: 1;
				z-index: 30;
				color: #000;
				transition: opacity .1s ease-in, height .1s ease-in;
				overflow-y: auto;
			}

			~ .menu_button {
				/* first burger line angles down at a 45-degree angle*/
			  	rect:first-child {
					transform: translate(5px, 3px) rotate(45deg);
				}

				/* second burger line disappears */
				rect:nth-child(2){
					opacity: 0;
					/*transform: translate(20px, 15px) scale(0);*/
				}

				/* third burger line angles up at a 45 degree angle*/
				rect:nth-child(3){
					transform: rotate(-45deg) translate(-20px, -6px) ;
					/*fill: red;*/
				}
			}

		}
	}

	.level-two{
		padding-left: 0;
		margin-left: 0;

		li{
			padding-left: 0;
			margin-left: 0;
			margin: .5em 0;

			a{
				font-size: $medium_font_size;
				line-height: 1.5em;
				text-transform: uppercase;
				//letter-spacing: 0.03rem;
			}

		}

	}





	
	.menu{
		display:none;
		height: 0px;
		//width: calc(100% - 30px);
		opacity: 0;
		z-index:-5;
		transition: opacity .1s ease-in, height .2s ease-in;
		position: sticky;
		border: 1px solid #000;
		background-color: #fff;

		a{
			display: block;
			padding: 15px;
			color: blue;
			text-decoration: none;
			text-align: center;
			font-size: 50px;
		}

		a:first{
			top: 80px;
		}
		
		a:hover{
			background: blue;
			color: white;
		}

	}
}

/* ----------------------------
	 DESKTOP
---------------------------*/
@media only screen and (min-width : $tablet + 1){
	.logo{
		margin-top: $page_top_margin;
		position: absolute;
	}
	input.menu__check, .menu__button{
		display: none;
	}

	.navigation__container{
		top: $page_top_margin;
		position: relative;
	}
	.navigation{
		top: $page_top_margin;
		position: sticky;
	}
	.navigation .menu-list li a{
	    padding: 0.2em 0em;
	}

}
