.sidebar__container{}

.sidebar{
	font-size: $small_font_size;
	position: sticky;
}

.sidebar p{
	font-size: $small_font_size;
	line-height: 1.2em;
}

.level-two{
	// default display none for the Browse submenu .level-two 
	// to be overridden via js
	display: none;
}

.level-two.not-hidden{
	display:block;
}


/* ----------------------------
	 MOBILE
---------------------------*/
@media only screen and (max-width : $tablet){
	.sidebar{
		border-top: 4px solid black;
		padding-top: $page_top_margin;
		margin-left: $mobile_page_margin;
		margin-right: $mobile_page_margin;
	}

}

/* ----------------------------
	 TABLET
---------------------------*/
@media only screen and (min-width : $tablet){
	.sidebar{
		margin-top: $page_top_margin;
		padding-top: 0;
		position: sticky;
		top: $page_top_margin;
	}

}

/* ----------------------------
	 DESKTOP
---------------------------*/
@media only screen and (min-width : $desktop){
	.sidebar{
		margin-left: 2em;
	}

}