.sidebar{
	font-size: $small_font_size;
	position: sticky;
	top: $page_top_margin ;
}

.sidebar p{
	font-size: $small_font_size;
	line-height: 1.2em;
}

.level-two{
	// default display none for the Browse submenu .level-two 
	// to be overridden via js
	display: none;
}

.level-two.not-hidden{
	display:block;
}

@media only screen and (max-width : $tablet){
	.sidebar{
		border-top: 4px solid black;
		margin-top: $page_top_margin;
		margin-left: $mobile_page_margin;
		margin-right: $mobile_page_margin;
	}

}
