{% extends '../base.html' %}

{% block 'title' %}Names{% endblock %}

{% comment %}
{% block 'page_title' %}Names{% endblock %}
{% endcomment %}

{% block 'middle_content' %}
	<section class="names-list"> 
		{% for name in names %}
			<a class="list__link" href="{% url 'name_detail' name.slug %}">
				<h2 class="names-list__name list__link-title">{{ name.name }}</h2> 
			</a>
			{{ name.description | safe }} 
		{% endfor %} 
	</section> 
{% endblock %}

{% block 'right_column' %}
	{{ sidebar.content | safe }}
{% endblock 'right_column' %}
