{% extends '../base.html' %}

{% block 'title' %}{{ name.name }}{% endblock %}
{% block 'page_title' %}{{ name.name }}{% endblock %}

{% block 'back_link' %}
	<a class="back-arrow" href="{% url 'names_list'  %}">&larr; Back to all names</a>
{% endblock %}

{% block 'middle_content' %} 
	<section class="name-detail"> 

		{% if name.call_number %}
			<div class="name-detail__field">
				<div class="name-detail__field-body__body__body name-detail__location-call">
					<span  class="name-detail__title--inline">Call Number:</span> {{ name.call_number }}
				</div>
			</div>
		{% endif %}

		{% if name.location %}
			<div class="name-detail__field">
				<h2 class="name-detail__title">Location</h2>
				<div class="name-detail__field-body name-detail__location-call">
				 {{ name.location | safe }} 
				</div>
			</div>
		{% endif %}

		{% if name.summary %}
			<div class="name-detail__field">
			<h2 class="name-detail__title">Summary</h2>
			<div class="name-detail__field-body name-detail__summary">
				{{ name.summary | safe }} 
			</div>
			</div>
		{% endif %}


		{% if name.archivist_summary %}
			<div class="name-detail__field">
				<h2 class="name-detail__title">Archivist Summary</h2>
				<div class="name-detail__field-body name-detail__summary name-detail__summary--archivist"> 
					{{ name.archivist_summary | safe }} 
				</div>
			</div>
		{% endif %}

		{% if name.created_published_by %}
			<div class="name-detail__field">
				<h2 class="name-detail__title">Created / Published</h2>
				<div class="name-detail__field-body name-detail__created-published-by">
					{{ name.created_published_by }}
				</div>
			</div>
		{% endif %}

		{% if name.access_conditions %}
			<div class="name-detail__field">
				<h2 class="name-detail__title">Access Condtions</h2>
				<div class="name-detail__field-body name-detail__access-conditions">
					{{ name.access_conditions }}
				</div>
			</div>
		{% endif %}

		{% if name.extent %}
		<div class="name-detail__field"> 
			<h2 class="name-detail__title">Extent</h2>
			<div class="name-detail__field-body name-detail__extent">
				{{ name.extent | safe}}
			</div>
		</div>
		{% endif %}

		{% if name.subjects %}
		<div class="name-detail__field"> 
			<h2 class="name-detail__title">Subjects</h2>
			<div class="name-detail__field-body name-detail__subject-list"> 
				{% for subject in name.subjects.all %}
					<a class="name-detail__subject" href="{% url 'subject_detail' subject.slug %}">{{ subject.name}}.</a>
				{% endfor %}
			</div>
		</div>
		{% endif %}

	</section> 
{% endblock %}


{% block 'right_column' %}
	<div class="name-detail__recording-list">
	{% for recording in name.recordings %}
		<div class="recording"> 
			{{ recording.title }} 
			{% if recording.audio_file %}
				{{ recording.audio_file_player | safe }}
			{% endif %}

			{% if recording.transcript_document %}
					<a href="{{ recording.transcript_document.url }}" target="_blank">PDF</a>
			{% endif %}
		</div>
	{% endfor %}
	</div>
{% endblock %}
