{% extends '../base.html' %}

{% block 'title' %}{{ name.name }}{% endblock %}
{% block 'page_title' %}{{ name.name }}{% endblock %}

{% block 'back_link' %}
	<a class="back-arrow" href="{% url 'names_list'  %}">&larr; Back to all names</a>
{% endblock %}

{% block 'middle_content' %} 
<script type="text/javascript"> 
	window.nameDetails = {}

	window.nameDetails['name'] = "{{ name.name }}";
	window.nameDetails['call_number'] = "{{ name.call_number }}";
	window.nameDetails['date_published'] = "{{ name.city_published }}";
	window.nameDetails['city_published'] = "{{ name.city_published }}";
	window.nameDetails['bio_hist_note'] = "{{ name.bio_hist_note }}";
</script>
	<section class="name-detail"> 

		{% if name.recordings %}
			<div id="transcript_text" class="name-detail__transcript-text" style="display:none;">
			</div>
		{% endif %}

		{% if name.call_number or name.location %}
			<div class="name-detail__field">
				{% if name.call_number %}
				<div class="name-detail__field-body__body__body name-detail__location-call">
					<span  class="name-detail__title--inline">Call Number:</span> {{ name.call_number }}
				</div>
				{% endif %}

				{% if name.location %}
				<div class="name-detail__field-body name-detail__location-call">
					<span class="name-detail__title--inline">Location:</span>
					 {{ name.location | safe }} 
				</div>
				{% endif %}

			</div>
		{% endif %}

			<div class="name-detail__field">
			</div>



		{% if name.date_published or name.city_published %}
			<div class="name-detail__field">
				{% if name.date_published %}
				<div class="name-detail__field-body name-detail__date_published">
					<span  class="name-detail__title--inline">Date Produced / Published:</span>
					{{ name.date_published }} 
				</div>
				{% endif %}

				{% if name.city_published %}
				<div class="name-detail__field-body name-detail__city_published">
					<span  class="name-detail__title--inline">City Produced / Published:</span>
					{{ name.city_published }} 
				</div>
				{% endif %}
			</div>
		{% endif %}

		{% if name.bio_hist_note %}
		<div class="name-detail__field"> 
			<h2 class="name-detail__title">Bio./Hist. Note</h2>
			<div class="name-detail__field-body name-detail__bio_hist_note">
				{{ name.bio_hist_note | safe}}
			</div>
		</div>
		{% endif %}

		{% if name.summary %}
			<div class="name-detail__field">
			<h2 class="name-detail__title">Summary</h2>
			<div class="name-detail__field-body name-detail__summary">
				{{ name.summary | safe }} 
			</div>
			</div>
		{% endif %}

		{% if name.city_published %}
			<div class="name-detail__field">
			</div>
		{% endif %}




		{% if name.created_published_by %}
			<div class="name-detail__field">
				<h2 class="name-detail__title">Created / Published</h2>
				<div class="name-detail__field-body name-detail__created-published-by">
					{{ name.created_published_by }}
				</div>
			</div>
		{% endif %}

		{% if name.access_conditions %}
			<div class="name-detail__field">
				<h2 class="name-detail__title">Access Condtions</h2>
				<div class="name-detail__field-body name-detail__access-conditions">
					{{ name.access_conditions }}
				</div>
			</div>
		{% endif %}


		{% if name.archivist_summary %}
			<div class="name-detail__field">
				<h2 class="name-detail__title">Archivist Summary</h2>
				<div class="name-detail__field-body name-detail__summary name-detail__summary--archivist"> 
					{{ name.archivist_summary | safe }} 
				</div>
			</div>
		{% endif %}


		{% if name.archivist_ethics %}
			<div class="name-detail__field">
				<h2 class="name-detail__title">Archivist Ethics</h2>
				<div class="name-detail__field-body name-detail__archivist-ethics">
					{{ name.archivist_ethics | safe }} 
				</div>
			</div>
		{% endif %}

		{% if name.subjects %}
		<div class="name-detail__field"> 
			<h2 class="name-detail__title">Subjects</h2>
			<div class="name-detail__field-body name-detail__subject-list"> 
				{% for subject in name.subjects.all %}
					<a class="name-detail__subject" href="{% url 'subject_detail' subject.slug %}">{{ subject.name}}</a>
				{% endfor %}
			</div>
		</div>
		{% endif %}

	</section> 
{% endblock %}


{% block 'right_column' %}
	<script type="text/javascript">
		window.recordings = []
	</script>
	<div class="name-detail__recording-list"> 
	{% for recording in name.recordings %} 
		<script type="text/javascript">
			window.recordings.push(  {
				"file":"{{ recording.file_url }}",
				"extension":"{{ recording.extension }}",
				"transcript_document":
					"{% if recording.transcript_document %}{{ recording.transcript_document.url }}{% endif %}",
				"transcript":
					{% if recording.transcript %}{{ recording.json_friendly_transcript | safe }}{% endif %}
			})
		</script>
		{% endfor %}
	{% for recording in name.recordings %} 
		<div class="recording"> 
			{% if recording.transcript_document %}
				<a href="{{ recording.transcript_document.url }}" target="_blank">PDF</a>
			{% endif %} 
		</div>
	{% endfor %}

	<div id="recording-list"> 
	</div>

	</div>
{% endblock %}
