{% extends '../base.html' %}

{% block 'title' %}Names -{% endblock %}

{% block 'middle_content' %}
	<section class=""> 
		<div class="logo aohg_logo">Autonomous Oral History Group</div>
		<h1 class="title is-1">Names</h1>

		{% for name in names %}
			<a href="{% url 'name_detail' name.slug %}">
				<h2 class="subtitle is-4">{{ name.name }}</h2> 
			</a>
			{{ name.description | safe }} 
		{% endfor %} 
	</section> 
{% endblock %}

{% block 'right_column' %}
	{{ sidebar.content | safe }}
{% endblock 'right_column' %}
